.alert {
  right: 15px;
  top: 50px;
  z-index: 1100;
  position: fixed;
  span{
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0,0,0,0.07);
    // color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
  }
}

.order-options {
  font-size: 18px;
  float: right;
  margin-top: 35px;
}

.order-options-container {
  margin-bottom: 20px;
}

.plus-icon {
  font-size: 20px;
}

.data-clip-started {
  float: right;
}

.data-clip-number {
  margin-top: 15px;
  margin-bottom: 15px;
}

#team-name {
  display: inline-block;
}

.pointer {
  cursor: pointer;
}
