.navbar-form .input-group > .form-control.search-input {
  width: 500px;
}

.alert {
  right: 15px;
  top: 50px;
  z-index: 1100;
  position: fixed;
  span{
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0,0,0,0.07);
    // color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
  }
}

.order-options {
  font-size: 18px;
  float: right;
  margin-top: 35px;
}

.order-options-container {
  margin-bottom: 20px;
}

.plus-icon {
  font-size: 20px;
}

.data-clip-started {
  float: right;
}

.data-clip-number {
  margin-top: 15px;
  margin-bottom: 15px;
}

#team-name {
  display: inline-block;
}

.pointer {
  cursor: pointer;
}

html,body{
  height: 100% !important;
  font-family: 'Roboto', sans-serif;;
}

.signup-box{
  border: 1px solid #F0F0F0;
  border-radius: 5px;
  padding: 0 10px 10px 10px;
}

.brand-color-bg{
  background: $brand-primary;
}

section{
  padding: 0 0 50px 0;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 300;
}

.gray{
color: #717171;
}

.p-b-2{
  padding: 2em;
}

footer{
  background: #333;
  color: #BDBDBD;
  padding: 10px 25px 25px 25px;
  font-weight: 300;
}
footer a{
  color: #BDBDBD;
}

.logo-footer{
  width: 100px;
  padding: 20px;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  opacity: 0.35;
  background: #333;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: image-url('video-frame.png') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

.commands{
  h4{
    font-weight: 500;
    color: #333 !important;
  }
  h4.color{
    color:#56D3B5 !important;
  }
}

.logo-nav{
  margin-top: -12px;
  max-width: 47px;
}
